name: master pre-merge check

on: 
  push:
    branches:
    - master
    - stable_v*
  pull_request:
    branches:
    - master
    - stable_v*

env:
  CMAKE_VERSION: 3.21.2

jobs:
  cmake-win-test:
    name: cmake build-win
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-2019, windows-2022]
        generator: ['MSYS Makefiles']
        shared: [on, off]
        include:
          - os: windows-2019
            shared: [on, off]
            generator: 'Visual Studio 16 2019'
          - os: windows-2022
            shared: [on, off]
            generator: 'Visual Studio 17 2022'

    steps:
    - uses: actions/checkout@v2
    - name: cmake_version
      run: cmake --version
    - name: cmake_generage msys
      if: matrix.generator == 'MSYS Makefiles'
      run: cmake -S . -B build -G "${{ matrix.generator }}" -DENABLE_SHARED=${{ matrix.shared }} -DENABLE_TESTS=on
    - name: cmake_generage vs
      if: matrix.generator != 'MSYS Makefiles'
      run: cmake -S . -B build -G "${{ matrix.generator }}" -A x64 -DENABLE_SHARED=${{ matrix.shared }} -DENABLE_TESTS=on
    - name: cmake_build
      run: cmake --build build --config Release --parallel 4
    - name: ctest
      run: |
        cd build
        ctest -C Release --output-on-failure

  cmake-mac-test:
    name: cmake build-mac
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # os: [macos-10.15]
        os: [macos-10.15, macos-11, macos-12]
        xcode_version: ['11.7']
        include:
          - os: macos-10.15
            xcode_version: '12.4'
          - os: macos-11
            xcode_version: '12.5.1'
          - os: macos-11
            xcode_version: '13.2.1'
          - os: macos-12
            xcode_version: '13.1'
          - os: macos-12
            xcode_version: '13.3.1'
        exclude:
          - os: macos-12
            xcode_version: '11.7'

    steps:
    - uses: actions/checkout@v2
    - name: Select Xcode version
      run: sudo xcode-select -s '/Applications/Xcode_${{matrix.xcode_version}}.app/Contents/Developer'
    - name: Show Xcode version
      run: xcodebuild -version
    - name: cmake_version
      run: cmake --version
    - name: cmake_generage-macos
      run: cmake -S . -B build -G "Unix Makefiles" -DENABLE_SHARED=on -DENABLE_ELEMENTS=on
    - name: cmake_build
      run: cmake --build build --config Release --parallel 4
    - name: ctest
      run: |
        cd build
        ctest -C Release --output-on-failure
    - name: lint_check
      run: ./tools/lint_quiet.sh

  cmake-ubuntu-test:
    name: cmake build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04, ubuntu-20.04, ubuntu-18.04]
        shared: [on, off]
        elements: [on]
        include:
          - os: ubuntu-22.04
            elements: off

    steps:
    - uses: actions/checkout@v2
    - name: dump version
      run: |
        cmake --version
        gcc --version
    - name: cmake_configure
      run: cmake -S . -B build -G "Unix Makefiles" -DENABLE_SHARED=${{ matrix.shared }} -DENABLE_ELEMENTS=${{ matrix.elements }} -DTARGET_RPATH=./build/Release
    - name: cmake-build
      run: cmake --build build --config Release --parallel 4
    - name: lint_check
      run: ./tools/lint_quiet.sh
    - name: test
      run: |
        cd build
        ctest -C Release --output-on-failure
        cd ..

  cmake-cpp-version-test:
    name: cmake cpp version check
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-2022, ubuntu-22.04]
        cppver: [11, 14, 17, 20]
        include:
          - os: windows-2022
            generator: 'Visual Studio 17 2022'

    steps:
    - uses: actions/checkout@v2
    - name: dump version
      run: |
        cmake --version
        gcc --version
    - name: cmake_configure
      if: matrix.os != 'windows-2022'
      run: cmake -S . -B build -G "Unix Makefiles" -DENABLE_SHARED=on -DENABLE_ELEMENTS=on -DENABLE_TESTS=on -DSTD_CPP_VERSION=${{ matrix.cppver }} -DTARGET_RPATH=./build/Release
    - name: cmake_generage vs
      if: matrix.os == 'windows-2022'
      run: cmake -S . -B build -G "${{ matrix.generator }}" -A x64 -DENABLE_SHARED=on -DENABLE_TESTS=on -DSTD_CPP_VERSION=${{ matrix.cppver }}
    - name: cmake_build
      run: cmake --build build --config Release --parallel 4
    - name: test
      run: |
        cd build
        ctest -C Release --output-on-failure

  doxygen-ubuntu:
    name: doxygen-check
    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2
    - name: install_doxygen
      run: sudo apt install doxygen graphviz
    - name: doxygen_check
      run: |
        cd doc
        doxygen Doxyfile_quiet_all
