name: cmake-build

on: 
  push:
    branches:
    - master
    - develop
    - testing/*
    - release/*
  pull_request:
    branches:
    - master
    - develop
    - testing/*

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v1
    - name: cmake_version
      run: cmake --version
    - name: cmake_generage
      run: cmake -S . -B build -G "Visual Studio 16 2019"
    - name: cmake_configure
      run: cmake -D ENABLE_SHARED=1 --build build
    - name: cmake_build
      run: cmake --build build --config Release
    - name: ctest
      run: cd build && ctest -C Release
